{#include eclipse_header /}
{|<style>
.panel.list-group > div {
    background-color: white;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.panel.list-group .list-group-item .badge {
    background-color: #ffd8cc;
    color: #c74922;
    border-color: #c74922;
}</style>|}
<section class="container">
  <h1>Repo: {repoUrl}</h1>
  <div id="accordion">
    <div class="panel list-group">
      {#for status in statuses.orEmpty}
      <a href="#{status.commitHash}" data-parent="#accordion" data-toggle="collapse" class="list-group-item">
      {#if status.errors.size > 0}
      <span class="badge">{status.errors.size}</span>
      {/if}
        <p>SHA: <strong>{status.commitHash}</strong></p>
      </a>
      
      <div class="padding-30 collapse" id="{status.commitHash}">
        <div>Last validated: <em>{status.lastModified.format('d MMM uuuu')}</em></div>
        <div>Errors: <em>{status.errors.size}</em></div>
        <ul class="list-group-item-text">
          {#for error in status.errors.orEmpty}
            {#if error.statusCode == -406}
            <li>Committer does not have permission to push on behalf of another user (Legacy).</li>
            {#else if error.statusCode == -405}
            <li>Committer did not have a signed ECA on file.</li>
            {#else if error.statusCode == -404}
            <li>Author did not have a signed ECA on file.</li>
            {#else if error.statusCode == -403}
            <li>Committer does not have permission to commit on specification projects.</li>
            {#else if error.statusCode == -402}
            <li>Sign-off not detected in the commit message (Legacy).</li>
            {#else if error.statusCode == -401}
            <li>Request format/state error detected.</li>
            {#else}
            <li>Unaccounted for error detected, please contact administrators.</li>
            {/if}
          {/for}
        </ul>
      </div>
      {/for}
  </div>
</section>
{#include eclipse_footer /}